<h1 class="heading"><strong>Fetching Data </strong></h1>

<div *ngIf="loading">loading...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Error</strong>
</div>


<img [src]="imageBlobUrl" style="position: absolute;width: 100%;">


<ng-container *ngIf="photos">
<cdk-virtual-scroll-viewport [itemSize]="1" style="height: 1000px">
  <div>
    <ul  class="card">
      <li  class="container"*cdkVirtualFor="let person of photos.photo;let i = index" (click)="getValue(person.id,person.secret)" >
          <h4><b>{{person.title}}</b></h4>
          <h4><b>{{person.orbed}}</b></h4>
      </li>
    </ul>
  </div>
  </cdk-virtual-scroll-viewport>
</ng-container>


